[submodule "src/osxcart"]
	path = src/osxcart
	url = git://osxcart.git.sourceforge.net/gitroot/osxcart/osxcart
[submodule "src/chimara"]
	path = src/chimara
	url = http://git.stderr.nl/projects/chimara/chimara.git
