[submodule "src/osxcart"]
	path = src/osxcart
	url = https://github.com/ptomato/osxcart 
[submodule "src/chimara"]
	path = src/chimara
	url = http://git.stderr.nl/projects/chimara/chimara.git
[submodule "src/goocanvas"]
	path = src/goocanvas
	url = https://github.com/interactivefiction/gnome-inform7-goocanvas.git
[submodule "src/webkit"]
	path = src/webkit
	url = https://github.com/interactivefiction/gnome-inform7-webkit.git
