[Desktop Entry]
Name=GNOME Inform 7
Comment=Interactive fiction development environment
Exec=gnome-inform7
TryExec=gnome-inform7
Icon=Inform.png
Terminal=false
Type=Application
Categories=Development;IDE;AdventureGame;GNOME;
