.monospace {
    font-family: monospace;
}

.welcome-dialog {
    background-image: url('resource:///com/inform7/IDE/inform/Welcome Background.png');
    background-repeat: no-repeat;
}

.welcome-dialog .welcome-label {
    font-size: 12px;
}

.transcript .actual {
    border-right: 1px solid black;
    padding: 3px 16px 3px 6px;
}

.transcript .expected {
    padding: 3px 6px 3px 16px;
}

.transcript .unchanged {
    background: #99ff99;
    color: black;
}

.transcript .changed {
    background: #ff9999;
    color: black;
}

.transcript .no-expected {
    background: #b2b2b2;
    color: black;
}

.transcript .no-match {
    background: #ff8080;
    color: black;
}

.transcript .near-match {
    background: #ffff80;
    color: black;
}

.transcript .exact-match {
    background: #80ff80;
    color: black;
}

.transcript .command {
    padding: 3px 3px 3px 6px;
}

.transcript {
    border: 4px solid transparent;
}

row .last-played {
    border-color: #ffffb2;
}

.headings, .headings text {
    background-color: #ffffbf;
    color: black;
}

.locked-thread {
    color: black;
}

.unlocked-thread {
    color: #6865ff;
}

/* inline-toolbar is assumed to be appended to the bottom of a view, not the
 * top where we put it.
 * See https://gitlab.gnome.org/GNOME/gtk/-/issues/4816 */
.panel-toolbar {
    border-radius: 0;
}

/* %linked_left and %linked_right in Adwaita/_common.scss
 * See https://gitlab.gnome.org/GNOME/gtk/-/issues/3826
 * This should be replaced by separate boxes. */

.panel-toolbar .linked-left > .flat {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -gtk-outline-bottom-left-radius: 5px;
    -gtk-outline-top-left-radius: 5px;
}

.panel-toolbar .linked-right > .flat {
    border-bottom-right-radius: 5px;
    border-right-style: solid;
    border-top-right-radius: 5px;
    -gtk-outline-bottom-right-radius: 5px;
    -gtk-outline-top-right-radius: 5px;
}

.blob {
    /* Taken from Adwaita button and button:active */
    background-color: #d6d1cd;
    border: 1px solid;
    border-color: #cdc7c2;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(53, 132, 228, 0);
    color: #2e3436;
    -gtk-icon-shadow: none;
    min-height: 32px;
    outline-color: rgba(47, 53, 55, 0.7);
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: none;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blob button {
    margin: 0;
    padding: 0 4px;
}

.blob:backdrop {
    /* Taken from Adwaita button:backdrop and button:backdrop-active */
    background-color: #e4e4e0;
    border-color: #d5d0cc;
    box-shadow: none;
    color: #929595;
    transition: 200ms ease-out;
}

.app-notification {
    border-radius: 5px;
}

searchbar > revealer > box {
    border-color: #cdc7c2;
    border-radius: 9px 9px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09),
        0 2px 14px 3px rgba(0, 0, 0, 0.05);
}

searchbar .close {
    border-radius: 9999px;
}
