.monospace {
    font-family: monospace;
}

.welcome-dialog {
    background-image: url('resource:///com/inform7/IDE/inform/Welcome Background.png');
    background-repeat: no-repeat;
}

.welcome-dialog .welcome-label {
    font-size: 12px;
}
