.monospace {
    font-family: monospace;
}

.welcome-dialog {
    background-image: url('resource:///com/inform7/IDE/inform/Welcome Background.png');
    background-repeat: no-repeat;
}

.welcome-dialog .welcome-label {
    font-size: 12px;
}

.transcript.actual {
    border-right: 1px solid black;
}

.transcript.unchanged {
    background: #99ff99;
}

.transcript.changed {
    background: #ff9999;
}

.transcript.no-expected {
    background: #b2b2b2;
}

.transcript.no-match {
    background: #ff8080;
}

.transcript.near-match {
    background: #ffff80;
}

.transcript.exact-match {
    background: #80ff80;
}

.transcript.command {
    background: #99ccff;
    border-bottom: 1px solid black;
}

.transcript.highlight {
    border: 4px solid #6666ff;
}

.transcript.active {
    border: 2px solid #ffffb2;
}
