Source: gnome-inform7
Section: non-free/devel
Priority: optional
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: meson (>= 0.55),
               debhelper (>= 10),
               gettext,
               gstreamer1.0-plugins-bad,
               gstreamer1.0-tools,
               libglib2.0-dev (>= 2.52),
               libgoocanvas-2.0-dev,
               libgstreamer1.0-dev,
               libgtk-3-dev (>= 3.22),
               libgtksourceview-3.0-dev,
               libgtkspell3-3-dev,
               libplist-dev,
               libwebkit2gtk-4.0-dev,
               libxml2-dev,
               libxml2-utils,
               pkg-config
Standards-Version: 3.9.4
Homepage: http://inform7.com/

Package: gnome-inform7
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Inform 7 interactive fiction programming language
 Inform is a design system for interactive fiction based on natural language.
 It is a radical reinvention of the way interactive fiction is designed,
 guided by contemporary work in semantics and by the practical experience of
 some of the world's best-known writers of IF.
