Source: gnome-inform7
Section: non-free/devel
Priority: optional
Maintainer: P. F. Chimento <philip.chimento@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.15), binutils, coreutils, perl, autotools-dev, autoconf (>= 2.60), pkg-config, automake (>= 1.10), libtool, gettext, autopoint, intltool (>= 0.35.0), libgtksourceview2.0-dev, libgtkspell-dev, libwebkitgtk-dev, libgoocanvas-dev, libgconf2-dev, libglib2.0-dev (>= 2.4.0), libc6-dev, libgtk2.0-dev (>= 2.12.0), libxml2-dev, uuid-dev, texlive-base, texlive-base-bin, graphviz
Standards-Version: 3.8.4
Homepage: http://inform7.com/

Package: gnome-inform7
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Inform 7 interactive fiction programming language
 Inform is a design system for interactive fiction based on natural language.
 It is a radical reinvention of the way interactive fiction is designed,
 guided by contemporary work in semantics and by the practical experience of
 some of the world's best-known writers of IF.
