Source: gnome-inform7
Section: non-free/devel
Priority: optional
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: autoconf (>= 2.64),
               automake (>= 1.11),
               autopoint,
               autotools-dev,
               debhelper (>= 9),
               gettext,
               gstreamer1.0-tools,
               libglib2.0-dev (>= 2.32),
               libgstreamer1.0-dev,
               libgtk2.0-dev (>= 2.24),
               libgtksourceview2.0-dev (>= 2.2),
               libgtkspell-dev,
               libtool,
               libwebkitgtk-dev,
               pkg-config,
               uuid-dev
Standards-Version: 3.9.4
Homepage: http://inform7.com/

Package: gnome-inform7
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Inform 7 interactive fiction programming language
 Inform is a design system for interactive fiction based on natural language.
 It is a radical reinvention of the way interactive fiction is designed,
 guided by contemporary work in semantics and by the practical experience of
 some of the world's best-known writers of IF.
