#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	sed -e 's:inform7-ide/::g' build-aux/make-integration-settings.mk \
    	> make-integration-settings.mk
	sed -i -e 's:inform7-ide/::g' \
		inform/resources/Documentation/indoc-instructions.txt

override_dh_auto_build:
	bash inweb/scripts/first.sh linux
	bash intest/scripts/first.sh
	cd inform; bash scripts/first.sh
	make -C inform forceintegration
	make -C inform retrospective
	cp -R inform/retrospective .
	dh_auto_configure
	dh_auto_build

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	# Not used during runtime; avoid Python dependency
	rm ./debian/inform7-ide/usr/lib/*/chimara/profile-analyze.py
	# Don't ship files only used for development
	rm -rf ./debian/inform7-ide/usr/include
	rm ./debian/inform7-ide/usr/lib/*/libchimara.so
	rm ./debian/inform7-ide/usr/lib/*/libratify-2.so
	rm -rf ./debian/inform7-ide/usr/lib/*/pkgconfig
