/inform/allegs.html
/inform/bg_images
/inform/doc*.html
/inform/doc_images
/inform/en
/inform/examples_alphabetical.html
/inform/general_index.html
/inform/index.html
/inform/indoc_RB.css
/inform/indoc_WI.css
/inform/manifest.txt
/inform/map_icons
/inform/outcome_images
/inform/Rallegs.html
/inform/Rdoc*.html
/inform/scene_icons
/inform/Welcome Background.png
